.rm-row {
    padding: 0 !important;
}

.rm-meduim {
    background-color: rgb(255, 246, 143);
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.rm-minor {
    background-color: rgba(135, 211, 124, 1);
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.rm-significant {
    background-color: rgba(250, 190, 88, 1);
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.rm-very-significant {
    background-color: rgba(241, 130, 141, 1);
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}